<%= form_with(model: player, local: true) do |form| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "erreur identifiée", "erreurs identifiées") %> :</h2>

      <ul>
      <% player.errors.messages.values.each do |message| %>
        <li><%= message[0] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <hr/><h3>Information sur le joueur</h3>

  <div class="field">
    Pseudo du joueur* : <br/>
    <%= form.text_field :pseudo %>
  </div>

  <div class="field">
    E-mail du joueur* : <br/>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    Défi génie civil (score entre 0 et 100) :
    <%= form.number_field :score_gci %>
  </div>

  <div class="field">
    Défi géomatique (score entre 0 et 100) :
    <%= form.number_field :score_geo %>
  </div>

  <div class="actions">
    <%= form.submit "Enregistrer" %>
  </div>
<% end %>
