<tr data-id='<%= player['id'] %>'>
  <td class="pseudo"><%= player['pseudo'] %></td>
  <% if logged_in %>
    <td><%= player['email'] %></td>
  <% end %>
    <td class="is-hidden-mobile has-text-centered"><%= player['score_gci'] %></td>
    <td class="is-hidden-mobile has-text-centered"><%= player['score_gen'] %></td>
    <td class="is-hidden-mobile has-text-centered"><%= player['score_geo'] %></td>
    <td class="score-total has-text-centered"><%= player['score_total'] %></td>
  <% if logged_in %>
    <td><%= link_to 'Modifier', edit_player_path(player['id']) %></td>
  <% end %>
</tr>
