<tr>
  <td><%= player.pseudo %></td>
  <% if logged_in? %>
    <td><%= player.email %></td>
    <td><%= player.score_geo %></td>
    <td><%= player.score_gci %></td>
    <td><%= link_to 'Voir', player %></td>
    <td><%= link_to 'Modifier', edit_player_path(player) %></td>
    <td><%= link_to 'Supprimer', player, method: :delete, data: { confirm: 'Etes-vous sûr ? Attention : La suppression de ce joueur est irréversible.' } %></td>
  <% end %>
</tr>
