<p id="notice"><%= notice %></p><br/>

<h1 class="title">Classement</h1>
 <a href="https://heig-vd.ch/ecg" target="_blank">Site HEIG-VD EC+G</a><hr/>

<% if logged_in? %>
  <%= render partial: 'search', locals: { keyword: @keyword } %>
  <hr/>
  <%= link_to 'Ajouter un nouveau joueur', new_player_path %>
  <hr/>
<% end %>

<table class="table is-fullwidth is-striped">
  <thead>
    <tr>
      <th>Pseudo</th>
      <% if logged_in? %>
        <th>E-mail</th>
      <% end %>
        <th class="is-hidden-mobile has-text-centered">Défi Construction & Infrastructures</th>
        <th class="is-hidden-mobile has-text-centered">Défi Génie de l'Environnement</th>
        <th class="is-hidden-mobile has-text-centered">Défi Géomatique et Gestion du territoire</th>
        <th class="has-text-centered">Score total</th>
      <% if logged_in? %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody id="players">
    <% @players.each do |player| %>
      <%= render partial: 'player', locals: { player: player.as_json(), logged_in: logged_in? } %>
    <% end %>
  </tbody>
</table>

<hr/>
<% if logged_in? %>
  <%= link_to 'Se déconnecter', session_path, method: :delete %>
<% else %>
  <%= link_to 'Se connecter', new_session_path %>
<% end %>
