<p id="notice"><%= notice %></p><br/>

<h2 class="title is-3 has-text-centered">Classement du Grand Concours EC+G</h2>
<p class="has-text-centered"><a href="https://heig-vd.ch/ecg" target="_blank">Site Web EC+G</a></p><br/>
<h3 class="title is-5 has-text-centered">Qui gagnera le drône ?</h3><hr/>

<h4 class="title is-6 has-text-centered has-text-link">Le concours est à présent terminé. Toutes nos félicitations à tous les joueurs !</h4>
<h4 class="title is-6 has-text-centered has-text-link">Le grand gagnant de notre concours est : yapaka (il sera contacté très prochainement par e-mail)</h4>
<h4 class="title is-6 has-text-centered has-text-link">A l'année prochaine !</h4>
<hr/>

<% if logged_in? %>
  <%= render partial: 'search', locals: { keyword: @keyword } %>
  <hr/>
  <%= link_to 'Ajouter un nouveau joueur', new_player_path %>
  <hr/>
<% end %>

<table class="table is-fullwidth is-striped">
  <thead>
    <tr>
      <th>Pseudo</th>
      <% if logged_in? %>
        <th>E-mail</th>
      <% end %>
        <th class="is-hidden-mobile has-text-centered">Défi Construction & Infrastructures</th>
        <th class="is-hidden-mobile has-text-centered">Défi Génie de l'Environnement</th>
        <th class="is-hidden-mobile has-text-centered">Défi Géomatique et Gestion du territoire</th>
        <th class="has-text-centered">Score total</th>
      <% if logged_in? %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody id="players">
    <% @players.each do |player| %>
      <%= render partial: 'player', locals: { player: player.as_json(), logged_in: logged_in? } %>
    <% end %>
  </tbody>
</table>

<hr/>
<% if logged_in? %>
  <%= link_to 'Se déconnecter', session_path, method: :delete %>
<% else %>
  <%= link_to 'Se connecter', new_session_path %>
<% end %>
