<p id="notice"><%= notice %></p>

<h1>Classement des joueurs</h1>

<hr/><h3>Effectuer une recherche</h3>
<%= form_tag(players_path, method: :get) do %>
  <div class="field">
    Mot-clé cherché dans le pseudo et l'e-mail des joueurs :
    <%= text_field_tag :keyword, params[:keyword], size: '30', placeholder: 'Aucun mot-clé' %>
  </div>
  <div class="actions">
    <%= submit_tag 'Rechercher', name: nil %>
  </div>
<% end %><br/>
<%= link_to 'Annuler la recherche', players_path %><br/><br/>
<hr/><br/>

<table>
  <thead>
    <tr>
      <th>Pseudo</th>
      <th>E-mail</th>
      <th>Atelier géomatique</th>
      <th>Atelier génie civil</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="players">
    <% @players.each do |player| %>
      <%= render partial: 'player', locals: { player: player } %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ajouter un nouveau joueur', new_player_path %>
