<p id="notice"><%= notice %></p>

<p>
  <strong>Pseudo du joueur :</strong>
  <%= @player.pseudo %>
</p>

<p>
  <strong>E-mail du joueur :</strong>
  <%= @player.email %>
</p>

<p>
  <strong>Défi Construction & Infrastructures :</strong>
  <%= @player.score_gci %>
</p>

<p>
  <strong>Défi Génie de l'Environnement :</strong>
  <%= @player.score_gen %>
</p>

<p>
  <strong>Défi Géomatique et Gestion du territoire :</strong>
  <%= @player.score_geo %>
</p>

<%= link_to 'Modifier', edit_player_path(@player) %> |
<%= link_to 'Retour au classement', players_path %>
