<!DOCTYPE html>
<html>
  <head>
    <title>ECG - JPO</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-logged='<%= @current_user ? true : false %>'>
    <section class="section">
      <div class="container">
        <%= yield %>
        <hr/>
        <%= render 'layouts/header' %>
      </div>
    </section>
  </body>
</html>
